<html lang="fr">
<head>
    <meta charset = “utf-8”>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Page Jeu Manuel</title>
    <link rel="stylesheet" href=/css/style.css>
    <meta name="author" content="Faustine"/>
    <meta name="location" content="Angers"/>
    <script src="/js/script.js"></script>
</head>
<body>
 
    <!-- Nav Bar-->

    <nav class="nav bg-light justify-content-center">
        <a href="#accueil" class="nav-link text-dark">Accueil</a>
        <a href="#lumieres" class="nav-link text-dark">Lumières</a>
        <a href="#boutons" class="nav-link text-dark">Boutons</a>
    </nav>


    <!--Home-->
    <section id=accueil class="accueil bg-dark d-flex w-100 h-100 flex-column justify-content-center align-items-center">
        <h1 class="display-1 text-white text-center">Jeu interactif</h1>
        <p class="lead text-center text-white"> Cette page simule le jeu des lumières. Elle permettra de tester les fonctionnalités. </p>
            
    </section>

    <!--Lumières-->
    <section id=lumieres class="sectionlumieres d-flex w-100 h-100 flex-column  justify-content-center align-items-center">
        <h1 class="display-4 text-white text-center">Réglages des Lumières</h1>
        <p class="lead text-center text-white"> Chaque bouton correspond à un bouton lumineux du jeu physique.
            Pour changer les réglages de lumière, cliquez sur un bouton au choix. </p>
        <div class="classeboutons d-flex flex-row pt-5">
            <% for (var i=1; i<=nbbutton; i++) { %>
            
            
                <% idbutton = i %>
                <button class="btn btn-primary mr-3 taillebouton" id=" <%= idbutton%> " onclick="voirrgb(this.id);"><%= idbutton%></button>
            
        <% } %>
        </div>
        <div id="rgb" class="lead text-white pt-3"> 
            <p>Led
            <input type="text" id="nbledform" name="nbledform" value=""/></p>
  

            <p>R <input id="idledrouge" type="number" name="ledrouge" min="0" max="1"/></p>
        

            <p>G
            <input id="ledverte" type="number" name="ledverte" min="0" max="1"/> </p>
        

            <p>B
            <input id="ledbleu" type="number" name="ledbleu" min="0" max="1"/></p>

            <button type="button" class="btn btn-success" onclick="JavaScript:senddata('idledrouge','ledverte','ledbleu');">Submit</button>
              
            
        </div>
        
        
            
    </section>



    <!--Boutons-->



    <section id=boutons class="sectionboutons bg-dark d-flex w-150 h-100 flex-column align-items-center">
        <h1 class="display-4 text-white text-center">Réglages et observation des boutons</h1>
        <p class="lead text-center text-white"> Ici vous pourrez observer si un bouton est enclenché et au besin modifier la valeur correspondant. </p>
        <div class="Bouton text-white d-flex flex-row
        flex-wrap pt-5">
       
        <% for (var i=1; i<=nbbutton; i++) { %>
            <% idbutton = i %>
           

            <div class="d-flex flex-column">
                <div class="mr-3 pt-4 d-flex flex-row ">
                <p><input type="number" id=" <%= idbutton%> +bouton" name="button1" value ="0"
                min="0" max="1" >Bouton <%= idbutton%></p>
                <button type="button" class="btn btn-success" onclick="JavaScript:senddataboutons('<%=idbutton%>');">Submit</button>
                </div>
                <div class="pt-2">
                    <button type="button" class="btn btn-primary" onclick="JavaScript:askvaluebouton('<%=idbutton%>');">Ask Value</button>
                </div>
            </div>
            
        <% } %>
        </div>
        
            
    </section>
    <footer class="fin text-center p-3" >
        Jeu des lumières - Faustine Guillou, Heiko Viel
    </footer>


    

</body>
</html>